<% form_tag 'promotions', {:class => "members"} do |f| %>
<div class="members left">
  <ul>
	   <% for user in @group.admins %>
	      <li><%= check_box_tag 'test', 'val' %><span id="<%= "u#{user.id}" %>"><%= user.login %></span></li>
	   <% end if @group.admins%>
	</ul>
</div>

<div class="members-arrows left">
  <ul>
  <li>
      <%= link_to_remote image_tag("icons/arrow_right.png"), :update => 'members_list',
             :url => {:action => 'unpromote', :id => @group.id } %>
  </li>
  <li>
      <%= link_to_remote image_tag("icons/arrow_left.png") , :update => 'members_list',
            :url => {:action => 'promote',   :id => @group.id } %>
  </li> 
  </ul>
</div>

<div class="members right">
  <ul>
	   <% if @group.users %>
 	    <% for user in @group.users %>
 	    <span id="<%= user.id %>"><%= user.login %> </span>
 	    <%= draggable_element(user.id) %>
 	    <% end %>
     <% else %>
     No users yet
     <% end %>
	</ul>
</div>
<% end %>