<% @membership = @group.membership(current_user) %>

<div class="view-group left">
	<h3><%= @group.name %></h3>
	<%= textile @group.description %>
	<% if @membership.admin %>
		<p><%= link_to "Edit", :action => "edit", :id => @group.id %></p>
	<% end %>
</div>

<div class="view-group right">
	<h3>Current members</h3>
	<% if @membership.admin %>
		<p>You can invite new people, write his/her username:</p>
		
		<% form_tag :action => "invite", :id => @group.id do %>
		<%= text_field_tag :user %>
		<%= submit_tag "Invite!" %>
		<% end %>
	<% end %>
	<ul>
	<% for member in @group.members do %>
	<li>
		<% mms = @group.membership(member) %>
		<%= member.login %>
		<% if !mms.admin %>
			<span>[member]</span>
			<%= link_to_remote "Promote", 
				:url => {:action => "make_admin", :user_id => member.id, :group_id => @group.id} %>
		<% else %>
			<span>[admin]</span>
		<% end %>
		
	</li>
	<% end %>
	</ul>
	

</div>