- title "Groups >> \'#{@group.name}\'"
- @membership = @group.membership(current_user)
.view-group.left
  %h3= @group.name
  - if @membership and @membership.admin
    = in_place_editor_field :group, :description, {:default_value => "<p>Add description</p>"}, { :rows => 10, :cols => 50, :load_text_url => {:action => :get_description, :id => @group.id}, :save_text => "Save"}
  - else
    = @group.description
.view-group.right
  %h3 Current members
  %h5
    %span.left Admins
    %span.right Users
  #members-list
    = render :partial => "members"
  - if @membership and @membership.admin
    
    %p You can invite new people, write their emails, one per line:
    - form_tag :action => "invite", :id => @group.id do
      = text_area_tag :users, "", :rows => 10, :cols => 50
      = submit_tag "Invite!", :id => "invite_people"

.clear

- @docs = @group.documents
- if @docs and @docs.size > 0
  #group-documents
    %h4 Documents
    = render :partial => "website/documents_list"