<% title "Groups >> \'#{@group.name}\'"%>
<% @membership = @group.membership(current_user) %>

<div class="view-group left">
	<h3><%= @group.name %></h3>
	<%= textile @group.description %>
	<% if @membership and @membership.admin %>
		<p><%= link_to "Edit", :action => "edit", :id => @group.id %></p>
	<% end %>
</div>

<div class="view-group right">
  
	<h3>Current members</h3>
	<% if @membership and @membership.admin %>
		<p>You can invite new people, write his/her username:</p>
		
		<% form_tag :action => "invite", :id => @group.id do %>
		<%= text_field_tag :user %>
		<%= submit_tag "Invite!" %>
		<% end %>
	<% end %>
	
	<h5>
	  <span class="left">Admins</span><span class="right">Users</span>
	</h5>
	
	<div id="members-list">
	  <%= render :partial => "members"%>
  </div>
	
</div>


<div class="clear"></div>
<% @docs = @group.documents %>
<div id="group-documents">
  <h4>Documents</h4>
  <%= render :partial => "/website/documents_list" %>
</div>