<% form_for :document, @doc, :url => @url, :html => {:class => "generic", :multipart => true}  do |f| %>
	
	<%= f.label :title %><br />		<%= f.text_field :title %>
		<span>Insert a title for the document</span><br />
	<%= f.label :description %><br />	<%= f.text_area :description %>	
		<span>Insert a description for the document. You can use <%= link_to "textile", "http://hobix.com/textile/"%></span><br />
	
	<% if controller.action_name == "edit" %>
		<h3>Permissions</h3>
		<div id="permissions">
			<ul class="first">
				<li><%= f.check_box :public %><label for="document_public">Everyone can <strong>see</strong> it</label></li>
				<li><label>Also, you can give permission to users or groups.</label></li>
			</ul>
			<ul id="help">
				<li><%= image_tag "icons/bullet_delete_greybg.png" %> remove from the list</li>
				<li><%= image_tag "icons/bullet_black_greybg.png"  %> can <strong>see</strong>  the document. Click on it to change rights.</li>
				<li><%= image_tag "icons/bullet_green_greybg.png"  %> can <strong>edit</strong> the document. Click on it to change rights.</li>
		  </ul>
		  <ul>
		    <li>
				<ul>
					<li>
						<%= text_field_tag 'user',"", :class => "wide" %>
						<%= submit_to_remote 'Invite User', 'Invite User',
						:url => {:action => 'invite_user', :id => @doc.id},
						:update => "users_list",
						:html => {:class =>"button"} %>
					</li>
					<li><div id="users_list"><%= render :partial => 'users'%></div></li>
					<li>
					  <% user_groups = current_user.groups.collect{|g| [g.name, g.id]} %>
						<%= select_tag 'group', options_for_select(user_groups), :class => "wide" %>
						<%= submit_to_remote 'Invite Group', 'Invite Group',
						:url => {:action => 'invite_group', :id => @doc.id},
						:update => "groups_list", :html => {:disabled => (user_groups.size > 0 ? false : true)},
						:html => {:class => "button"} %>
					</li>
					<li><div id="groups_list"><%= render :partial => 'groups'%></div></li>
				</ul>
				</li>
			</ul>
			<%= f.submit "Submit", :class => "bottom" %>
		</div>
	<% end %>
	
	
	
<% end %>