<% form_for :document, @doc, :url => {:action => @action }, :html => {:class => "generic", :multipart => true}  do |f| %>
	
	<%= f.label :title %><br />		<%= f.text_field :title %>
		<span>Insert a title for the document</span><br />
	<%= f.label :description %><br />	<%= f.text_area :description %>	
		<span>Insert a description for the document. You can use <%= link_to "textile", "http://hobix.com/textile/"%></span><br />
	
	<% if controller.action_name == "edit" %>
		<h3>Permissions</h3>
		<div id="permissions">
			<ul>
				<li><%= f.radio_button :public,'true'  %><label for="document_public_true">Everyone can access it</label></li>
				<li><%= f.radio_button :public,'false' %><label for="document_public_false">Only the people I specify.</label></li>
				<li>
				<ul>
					<li>
						<%= text_field_tag 'user' %>
						<%= submit_to_remote 'Invite User', 'Invite User',
						:url => {:action => 'invite_user', :id => @doc.id},
						:update => "users_list" %>
					</li>
					<li><div id="users_list"><%= render :partial => 'users'%></div></li>
					<li>
						<%= select_tag 'group', options_for_select(current_user.groups.collect{|g| [g.name, g.id]}) %>
						<%= submit_to_remote 'Invite Group', 'Invite Group',
						:url => {:action => 'invite_group', :id => @doc.id},
						:update => "groups_list" %>
					</li>
					<li><div id="groups_list"><%= render :partial => 'groups'%></div></li>
				</ul>
				</li>
			</ul>
		</div>
	<% end %>
	
	<%= f.submit "Submit" %>
	
<% end %>