<% if @doc.pages.size == 0 %>
	<p><strong>You haven't got any pages in your document</strong>. Before you can start using this document you have to add pages to it.</p>
	<p>For this, you have to options.</p>
	
	<div class="option">
		<h3 class="number">1. Add blank pages</h3>
		<% form_tag 'fake', :multipart => true do |f| %>
		<p>Add <%= text_field_tag "number", 20 %> pages<br />
			with a size of <%= text_field_tag "width", 800 %> x <%= text_field_tag "height", 600 %> px
		<%= submit_to_remote "Create", 'create', 
			:url => {:action => 'add_blank_pages', :doc => @doc.id},
			:update => 'extra-stuff',
			:complete => visual_effect(:highlight, 'extra-stuff', :duration => 1) %>
		</p>
		<% end %>
	</div>
	
	<div class="option">
		<h3 class="number">2. Upload background images</h3>
		<p>If you want, you can upload a document, and pages will be created from it. See the information about our accepted formats for extense information, but you can upload pdf's, zip's, rar's or tar.gz's.</p>
		<% form_tag "/document/add_pages_from_file/#{@doc.id}", :multipart => true do |f| %>
			<%= file_field_tag "file" %>
			<%= submit_tag "Upload" %>
		<% end %>
	</div>
	
<% else %>
	<div id="doc-stats">
		<ul>
			<li>Number of pages: <%= @doc.pages.size %> [<%= link_to_remote '+',
				:url => {:action => 'add_1_page',:doc =>@doc.id},:update => 'extra-stuff' %>]</li>
			<li>Page size: <%= "#{@doc.width}x#{@doc.height}px"%></li>
		</ul>
	</div>
	<% if !@doc.pages.first.image.nil? %>
		<p>These are the current images that will appear on every page of your document.<br /><span>Click on them to see them in big</span></p>
		<% for page in @doc.pages %>
			<div class="page-item"><%= page.number %><br />
				<a href="<%= "/image/#{page.id}/big" %>" rel="lightbox"><%= image_tag "/image/#{page.id}/small" %></a>
			</div>
		<% end %>
		<div class="clear"></div>
	<% end %>
	<p>If you want to upload a (new) document to have as background, <%= link_to "remove all", :action => 'remove_all_pages', :doc => @doc.id %> these pages and select that option.</p>
<% end %>