<% if @doc.pages.size == 0 %>
  <p><strong>You haven't got any pages in your document</strong>. Before you can start using this document you have to add pages to it.</p>
<% else %>
  <div id="see"><%= link_to "See your document in Action!", :action => 'draw', :id => @doc %></div>
<% end %>

<div id="doc-stats">
  
	<ul>
	  <li>
	    <% form_for :document, @doc, :url => {:action => "update", :id => @doc} do |f| %>
		    Page size (pixels): <%= f.text_field :width, :class => "small" %> x <%= f.text_field :height,:class => "small" %> <%= f.submit "Save"%>
	    <% end %>
		</li>
		
		<li>Number of pages: <%= @doc.pages.size %></li>
		<li>
		  <ul id="upload-options">
		    <li><%= link_to_remote 'Add blank page', :url => {:action => 'add_1_page',:doc =>@doc.id},:update => 'extra-stuff' %></li>
		    <li>
      		<% form_tag 'fake' do |f| %>
      		  Add <%= text_field_tag "number", 20,:class => "small" %> blank pages	<%= submit_to_remote "Add", 'Add', 
      		  	:url => {:action => 'add_blank_pages', :doc => @doc.id},
      		  	:update => 'extra-stuff',
      		  	:complete => visual_effect(:highlight, 'extra-stuff', :duration => 1) %>
      		<% end %>
		    </li>
		    <li>Upload 1 image for 1 page:
		      <% form_tag "/document/add_page_from_file/#{@doc.id}", :multipart => true do |f| %>
		        <%= file_field_tag "file" %>
		        <%= submit_tag "Upload" %>
		      <% end %>
		    </li>
		    <li>Upload from a PDF or compressed file:
		      <% form_tag "/document/add_pages_from_file/#{@doc.id}", :multipart => true do |f| %>
      			<%= file_field_tag "file" %>
      			<%= submit_tag "Upload" %>
      		<% end %>
		    </li>
		    <li><%= link_to "remove all", :action => 'remove_all_pages', :doc => @doc.id %></li>
		  </ul>
		</li>
	</ul>
	<%= link_to "Need help?", ''%>
</div>
<% if @doc.pages.size > 0 %>
	<p>These are the current images that will appear on every page of your document.<br /><span>Click on them to see them in big</span></p>
	<% for page in @doc.pages %>
		<div class="page-item"><%= page.number %><br />
		  <% if page.image %><%= lightbox_image_tag "/image/#{page.id}/small", "/image/#{page.id}/big" %>
		  <% else %>&nbsp;
		  <% end %>
		</div>
	<% end %>
	<div class="clear"></div>
<% end %>

