<h4>Complete information</h4>
<p>Now Fill out the rest of the information, and deselect if there are any files you don't need.</p>

<div id="confirm" class="form center">
	
	<% form_tag :action => "select_permissions" do -%>
		
		<label for="title">Title</label><%= text_field_tag :title %>
		<label for="description">Description</label><%= text_area_tag :description %>
		<div id="size">
			<p>The biggest image we've found is <strong><%= @max[0].to_s + "x" + @max[1].to_s %></strong>.<br /> We suggest you set the size of your whiteboard to have a 200pixels margin to be able to draw on, always having a minimun size of <strong>1000x700</strong> pixels.</p>
			<%= text_field_tag 'width' , @recommended[0] %> x
			<%= text_field_tag 'height', @recommended[1] %> px
		</div>
		<div id="pages-list">
			
		<% @files.each do |f| %>
			<%= check_box_tag "files[" + f +"]", f, true %>
			<a href="<%= "/get_image/" + current_user.id.to_s + "/temp/" + f %>" rel="lightbox">
				<img src="<%= "/get_image/" + current_user.id.to_s + "/thumbnails/" + f %>" />
			</a>
			<label for="files[<%= f %>]"><%= f %></label>
			<div class="clear"></div>
		<% end %>
		</div>
		<%= submit_tag 'Create' %>
		
<% end -%>
</div>