<div id="permissions" class="form center">
<% form_tag :action => "create" do -%>
	<%= hidden_field_tag "doc", @doc.id %>
	<h3>Who do you want to be able to access this document?</h3>
	
	<ul>
	 <li>
		<%= radio_button_tag "who", "everyone",true %>Everyone
		<span><%= check_box_tag "everyone_write" %> <label for="everyone_write">Let them edit it too.</label></span>
	 </li>
	 <li>
		<%= radio_button_tag "who", "list" %>Only certain people.
		<div id="select_people">
			<p>Add users:</p>
			<table id="select_people_list" style="display:none;">
				<thead>
					<tr><th id="user">User</th><th>Options</th></tr>
				</thead>
				<tbody>
				</tbody>
			</table>
			<%= hidden_field_tag "users_list", "" %>
				<input type="text" id="user_finder_text" class="finder" value="Type user name..." />
				<a href="" id="user_finder_submit">Add</a>
				<div id="user_finder_messages"></div>
			<% if @groups.length > 0 %>
			<p>You can also invite all the people of a group you're member of</p>
			<% @groups.each do |g| %>
				<%= check_box_tag "groups[" + g.id.to_s + "]", g.id.to_s %><label for="groups[<%= g.id %>]"><%= g.name %></label>
			<% end %>
			<% end %>
			<div class="clear"></div>
		</div>
	 </li>
	</ul>
	<%= submit_tag "Accept", :id => "submit" %>
<% end %>
</div>