<div class="section-head">
	<h2>All the documents</h2>
</div>

<div class="independent">
	<h5>Public documents</h5>
	<% form_tag 'find_public' do |f| %>
		<%= text_field_tag  's' %>
		<%= submit_tag 'buscar' %>
	<% end %>
	Or you can also <%= link_to "browse", :action => "list_public"%> them.
</div>

<% if current_user.accessible_documents.size == 0 %>
	<div class="independent">You can't access any document from another member.</div>
<% else %>
<ul>
	<% for doc in current_user.accessible_documents %>
	<li <%= cycle("","class=\"odd\"")%>>
		<h5><%= link_to doc.title, "/#{doc.id}"%></h5>
		<%= textile doc.description %>
		<span>
			<%= link_to "Delete", {:controller => "document", :action => "delete", :id => doc.id}, :confirm =>"Are you sure?" %>, 
			<%= link_to "Edit", :controller => "document", :action => "edit", :id => doc.id %>
		</span>
	</li>
	<% end %>
</ul>
<% end %>