.section-head
  %h2 All the documents
.independent
  %h5 Public documents
  - form_tag 'find_public' do |f|
    = text_field_tag  's'
    = submit_tag 'search'
  == Or you can also #{link_to "browse", :action => "list_public"} them.
- if current_user.all_accessible_documents.size == 0
  .independent You can't access any document from another member.
- else
  %ul
    - for doc in current_user.all_accessible_documents
      %li
        %h5= link_to doc.title, :controller => 'document', :action => 'draw', :id => doc.id
        = textile doc.description
        %span
          = link_to("Delete", {:controller => "document", :action => "delete", :id => doc.id}, :confirm =>"Are you sure?") if doc.can_be_deleted_by current_user
          = link_to("Edit", :controller => "document", :action => "edit", :id => doc.id) if doc.can_be_edited_by current_user
      %li.stats= doc.stats
        