%ul#results
  - for doc in @docs do
    %li
      .stats
        == #{doc.owner.login}<br />
        == #{doc.pages.size} pages<br />
        == the #{doc.created_at.to_formatted_s(:short)}<br />
      .description
        %h6= link_to doc.title, "/#{doc.id}"
        = textile doc.description
        %span 
          = link_to("Delete", {:controller => "document", :action => "delete", :id => doc.id}, :confirm =>"Are you sure?") if doc.can_be_deleted_by current_user
          = link_to("Edit", :controller => "document", :action => "edit", :id => doc.id) if doc.can_be_editet_by current_user