%ul#results
  - for doc in @docs do
    %li
      .stats
        == #{doc.owner.login}<br />
        == #{doc.pages.size} pages<br />
        == the #{doc.created_at.to_formatted_s(:short)}<br />
      .description
        %h6= link_to doc.title, "/#{doc.id}"
        = textile doc.description