<% if current_user.invitations.length > 0 %>
<div id="invitations">
	<h3>You have been invited to some groups!</h3>
	<% for invitation in current_user.invitations do %>
		<%= "<p><strong>#{invitation.source.login}</strong> has invited you to the group: <strong>#{invitation.group.name}</strong>.
			Do you #{link_to 'accept', :controller => 'groups', :action => 'accept', :id => invitation.id}, 
			#{link_to 'reject', :controller => 'groups', :action => 'reject', :id => invitation.id}?</p>" %>
	<% end %>
</div>
<% end %>
<div class="clear"></div>


<div id="documents" class="options">
	<h2>Documents</h2>
	<ul>
		<% for doc in current_user.documents %>
			<li>
				<a href="/<%=doc.id%>"> <%= doc.title %> </a>
				<p><%= doc.description %></p>
				<span class="delete"><%= link_to "Delete", {:controller => "document", :action => "delete", :id => doc.id}, :confirm =>"Are you sure?" %></span>
			</li>
		<% end %>
	</ul>

	<ul>
		<li><%= link_to "New Document", {:controller => "document", :action => "new"} %></li>
	</ul>
</div>



<div id="groups" class="options">
	<h2>Groups</h2>
	<ul>
		<% for group in current_user.groups do %>
		<li>
			<%= link_to group.name, {:controller => "groups", :action => "view", :id => group.id} %>
			<p><%= group.description %></p>
			<span class="delete"><%= link_to "Delete", {:controller => "groups", :action => "delete", :id => group.id}, :confirm =>"Are you sure?" %></span>
		</li>
		<% end %>
	</ul>
	<ul>
		<li><%= link_to "New Group", {:controller => "groups", :action => "new"} %></li>
	</ul>
</div>
<div class="clear"/>