<% if current_user.invitations.length > 0 %>
<div id="invitations">
	<h3>You have been invited to some groups!</h3>
	<% for invitation in current_user.invitations do %>
		<%= "<p><strong>#{invitation.source.login}</strong> has invited you to the group: <strong>#{invitation.group.name}</strong>.
			Do you #{link_to 'accept', :controller => 'groups', :action => 'accept', :id => invitation.id}, 
			#{link_to 'reject', :controller => 'groups', :action => 'reject', :id => invitation.id}?</p>" %>
	<% end %>
</div>
<% end %>
<div class="clear"></div>


<div id="documents" class="options">
	<div class="section-head">
		<h2>Documents</h2>
		<%= link_to 'New', :controller => 'document',:action => 'new' %><div class="clear"></div>
	</div>
	<% if current_user.documents.size == 0 %>
		<p><%= link_to "Create", :controller => 'document', :action => 'new'%> a new document to start using drawme.</p>
	<% else %>
	<ul>
		<% for doc in current_user.documents %>
			<li <%= cycle("","class=\"odd\"")%>>
				<h5><%= link_to doc.title, "/#{doc.id}"%></h5>
				<p><%= doc.description %></p>
				<span class="options">
					<%= link_to "Delete", {:controller => "document", :action => "delete", :id => doc.id}, :confirm =>"Are you sure?" %>, 
					<%= link_to "Edit", :controller => "document", :action => "edit", :id => doc.id %>, 
					<%= link_to "Permissions", :controller => "document", :action => "permissions", :id => doc.id %>
				</span>
			</li>
		<% end %>
	</ul>
	<% end %>
</div>

<div id="groups" class="options">
	<div class="section-head">
		<%= link_to 'New', :controller => 'groups', :action => 'new' %>
		<h2>Groups</h2><div class="clear"></div>
	</div>
	<ul>
		<% for group in current_user.groups do %>
		<li <%= cycle("class=\"odd\"","")%>>
			<h5><%= link_to group.name, {:controller => "groups", :action => "view", :id => group.id} %></h5>
			<p><%= group.description %></p>
			<span class="options">
				<%= link_to "Delete", {:controller => "groups", :action => "delete", :id => group.id}, :confirm =>"Are you sure?" %>
			</span>
		</li>
		<% end %>
	</ul>
</div>
<div class="clear"/>